<div class="wrapper-main-content">

  <div class="main-content">

    <div class="main-content-side-bar">

      <div class="content-side-bar-header">
        <img src="../../../../../assets/images/texto.png" alt="texto">
      </div>
      <div class="content-side-bar-content">
        <span class="side-bar-title">Menu</span>
        <div class="contenedorprueba" routerLinkActive="active">
          <em class="icon-google"></em>
          <span>Home</span>
        </div>

        <div class="contenedorprueba" routerLinkActive="active">
          <em class="icon-google"></em>
          <span>Schedule</span>
        </div>

        <div class="contenedorprueba" routerLinkActive="active">
          <em class="icon-google"></em>
          <span>Articles</span>
        </div>
        <div class="contenedorprueba" routerLinkActive="active">
          <em class="icon-google"></em>
          <span>Saved</span>
        </div>
        <div class="contenedorprueba" routerLinkActive="active">
          <em class="icon-google"></em>
          <span>Payment</span>
        </div>


      </div>


    </div>

    <div class="content-content">
      <div class="content-nav">
        <nav class="nav-xc"></nav>

      </div>

      <div class="content-module">
        <router-outlet></router-outlet>
      </div>
    </div>


  </div>

</div>
