<div class="wrapper-administration">

  <div class="administration-container">

    <div class="administration-side-bar">

      <div class="logo-administration">
        <em class="icon-logo-home"></em>
      </div>
      <div class="line"></div>

      <div class="side-nav-bar">
        <span><em class="icon-activity"></em> Dashboard</span>
        <span><em class="icon-box"></em> Productos</span>
        <span><em class="icon-archive"></em>Pedidos</span>
        <span><em class="icon-bell"></em>Notificaciones</span>
        <span><em class="icon-messages"></em>Chat</span>
      </div>

      <div class="side-profile">
        <em class="icon-user-circle" style="font-size: 24px"></em>
        <span>Edwin Bayona</span>
      </div>

    </div>

    <div class="administration-content">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
