<div class="content-header-page">

<div class="first-section-header">
  <div class="section-options">
    <label class="logo-ui"><em class="icon-ui"></em></label>
    <label class="logo-home" (click)="navigateToHome()"><em class="icon-logo-home"></em></label>
  </div>
  <div class="vertical-line"></div>
  <div class="section-categories">
    <label> <em class="icon-categories"></em></label>
    <span (click)="openCategories($event)">Categorias</span>
    <label (click)="openCategories($event)"><em class="icon-chevron-down"></em></label>
  </div>
  <div class="vertical-line margin-left-10"></div>
</div>

<div class="second-section-header">
  <div class="search-input">
    <input autocomplete="off" class="input"
           placeholder="Búsqueda rápida">
    <label (click)="navigateToFilter()"><em class="icon-search"></em></label>
  </div>
  <div class="section-login">
    <label><em class="icon-profile-user"></em></label>
    <span (click)="navigateToAuth()">Ingreso</span>
    <div class="vertical-line"></div>
    <label class="shopping-cart" (click)="openCart()"><em class="icon-shopping-cart"></em></label>
  </div>
</div>

  <div class="notification-container" *ngIf="categories">
    <span>Tops</span>
    <span>Pantalones</span>
    <span>Vestidos</span>
    <span>Faldas</span>
    <span>Ropa de abrigo</span>
    <span>Ropa de baño</span>
    <span>Ropa interior</span>
    <span>Accesorios</span>
    <span>Zapatos</span>
    <label class="notification" *ngFor="let notification of notificationList; let i = index">
      <img [src]="notification.image ? notification.image : 'assets/images/whatsapp.png'" alt="image-channel">
      <div class="content-data-notification">
        <div class="content-text-notification">
          <span class="first-title">{{ notification.title }}</span>
          <span>{{ notification.description }}</span>
        </div>
        <i class="material-icons dp48 right">clear</i>
      </div>
    </label>
  </div>

</div>


