.btn-generic {
  width: 100%;
  padding: 12px 24px;
  background-color: theme-palette-color('color', 'primary');
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 14px;
  color: white;
  border-radius: 6px;
  margin-top: 12px;

  &:hover {
    background-color: theme-palette-color('color' , 'hover');
  }

}
