.content-card-product {
  width: 320px;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .1);


  .content-card-image-product {
    width: 320px;
    height: 320px;
    position: relative;

    .offer {
      position: absolute;
      background-color: #EA4335;
      color: white;
      padding: 8px 16px;
      border-radius: 4px;
      top: 15px;
      left: 15px;
      z-index: 1;
    }

    em {
      position: absolute;
      top: 19px;
      font-size: 26px;
      right: 22px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 6px 6px 0 0;
    }

  }

  .content-card-section-price {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    flex-direction: column;

    .card-product-title {
      font-size: 14px;
      font-weight: 300;
    }

    .section-price-card-product {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .card-product-price {
        font-size: 16px;
        font-weight: 500;
        margin-top: 6px;
      }

      .card-product-send {
        font-size: 14px;
        font-weight: 500;
        color: #00A650;
      }

    }

  }

}
