.content-footer {
  width: 100%;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .first-section-footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px 10px 80px;
    background-color: #313131;
    gap: 20px;

    .footer-subtitle {
      font-size: 20px;
      color: white;
      padding-bottom: 10px;
    }

    .footer-title {
      font-size: 30px;
      color: white;
      padding-bottom: 20px;
    }

    .footer-text {
      color: theme-palette-color('color', 'gray');
    }

    .first-block {
      width: 40%;
      height: 100%;
      padding: 30px 20px;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-direction: column;
    }

    .second-block {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 20px;

      .second-block-about {
        width: 33.3%;
        height: 208px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
      }

      .second-block-services {
        width: 33.3%;
        height: 208px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
      }

      .footer-contact {
        width: 33.3%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;

        .contact-info {
          display: flex;
          justify-content: center;
          align-items: center;


          label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            max-width: 40px;
            max-height: 40px;
            background-color: theme-palette-color('color', 'gray');
            border-radius: 4px;
          }

          em {
            color: white;
            font-size: 18px;
          }

          .contact-info-detail {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding-left: 10px;

            .contact-info-title {
              color: theme-palette-color('color', 'gray');
              padding-bottom: 4px;
            }

            .contact-info-text {
              color: white;
            }
          }
        }
      }
    }
  }

  .second-section-footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c3c3c;
    padding: 0 80px;
    gap: 20px;

    span {
      color: white;
      font-size: 16px;

      &:last-child {
        color: theme-palette-color('color', 'gray');
        font-size: 14px;
      }
    }


  }
}

@media (min-width: 640px) and (max-width: 1360px) {

  .content-footer {

    .first-section-footer {
      padding: 0 40px 0 80px;
      flex-direction: column;

      .footer-subtitle {
        padding: 0;
        font-size: 14px;
      }

      .footer-title {
        font-size: 25px;
      }

      .footer-text {
        font-size: 14px;
      }

      .first-block {
        width: 100%;
        padding: 30px 0;
      }

      .second-block {
        width: 100%;
        flex-direction: column;
        padding: 0 0 20px 0;
        gap: 20px;

        .second-block-about {
          display: none;
        }

        .second-block-services {
          display: none;
        }

        .footer-contact {
          width: 100%;
          height: auto;
          flex-direction: row;
          justify-content: space-evenly;

          .contact-info {
            .contact-info-text {
              font-size: 14px;
            }

            .contact-info-title {
              font-size: 14px;
            }

          }

        }

      }


    }

    .second-section-footer {
      padding: 14px 80px;

      span {
        font-size: 14px;
      }

    }

  }

}


@media (min-width: 375px) and (max-width: 640px) {

  .content-footer {
    height: auto;

    .first-section-footer {
      padding: 0 20px;
      flex-direction: column;
      gap: 0;

      .footer-subtitle {
        padding: 0;
        font-size: 14px;
      }

      .footer-title {
        font-size: 25px;
      }

      .footer-text {
        font-size: 14px;
      }

      .first-block {
        width: 100%;
        padding: 30px 0;
      }

      .second-block {
        width: 100%;
        flex-direction: column;
        padding: 0 0 20px 0;

        .second-block-about {
          display: none;
        }

        .second-block-services {
          display: none;
        }

        .footer-contact {
          width: 100%;
          height: auto;
          flex-direction: column;
          justify-content: space-evenly;

          .contact-info {
            .contact-info-text {
              font-size: 14px;
            }

            .contact-info-title {
              font-size: 14px;
            }

          }

        }

      }

    }

    .second-section-footer {
      padding: 0;

      span {
        font-size: 14px;

        &:first-child {
          display: none;
        }
      }
    }
  }
}
