.footer-home {
  width: 100%;
  height: 392px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .footer-home-first-block {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
    background-color: #313131;

    .footer-home-subtitle {
      font-size: 20px;
      color: white;
      padding-bottom: 10px;
    }

    .footer-home-title {
      font-size: 32px;
      color: white;
      padding-bottom: 20px;
    }

    .footer-home-text {
      color: theme-palette-color('color', 'gray');
    }

    .footer-home-first-block-1 {
      width: 40%;
      height: auto;
      padding: 20px;
    }

    .footer-home-first-block-2 {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 40px;
      padding: 20px;

      .footer-home-first-block-2-content {
        width: 33.3%;
        height: 208px;
        display: flex;
        flex: 1;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 10px;
        gap: 20px;
      }

    }

  }

  .footer-home-second-block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c3c3c;
    padding: 0 80px;

    .footer-home-second-block-policies {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding: 30px;

      span {
        color: white;
        font-size: 16px;

        &:last-child {
          color: theme-palette-color('color', 'gray');
          font-size: 14px;
          padding-top: 10px;
        }
      }
    }

    .footer-home-second-block-contact {
      width: 60%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 10px;

      .contact-info {
        display: flex;
        justify-content: center;
        align-items: center;


        label {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          max-width: 40px;
          max-height: 40px;
          background-color: theme-palette-color('color', 'gray');
          border-radius: 4px;
        }

        em {
          color: white;
          font-size: 18px;
        }

        .contact-info-detail {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          padding-left: 10px;

          .contact-info-title {
            color: theme-palette-color('color', 'gray');
            padding-bottom: 4px;
          }

          .contact-info-text {
            color: white;
          }
        }
      }
    }
  }
}
