.form-container {
  display: grid;
  width: 100%;

  .form-group {
    position: relative;
    margin-top: 4px;

    .form-input {
      width: 100%;
      background: none;
      color: theme-palette-color('font', 'title');
      font-size: 14px;
      padding: 10px;
      border: none;
      outline: 0.6px solid theme-palette-color('grays', 600);
      font-family: $font-family;
      height: 36px;
      cursor: text;
      border-radius: 4px;
    }

    .form-label {
      display: inline-block;
      color: theme-palette-color('font', 'title');
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 6px;
    }

    .form-line {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: theme-palette-color('color', 'primary');
      transform: scale(0);
      transform-origin: left bottom;
      transition: transform .4s;
    }


    .form-input:focus ~ .form-line {
      transform: scale(1);
    }

    .input-icon {
      color: theme-palette-color('grays', 600);
      position: absolute;
      right: 0;
      height: 37.1px;
      width: 32px;
      cursor: pointer;
      padding: 10px 10px 10px 4px;

      em {
        font-size: 18px;
      }
    }
  }
}
