<div class="content-card-product">
  <div class="content-card-image-product">
    <span class="offer">Oferta</span>
    <label><em class="icon-heart"></em></label>
    <img src="assets/images/prueba-removebg-preview.png" alt="prueba">
  </div>
  <div class="content-card-section-price">
    <span class="card-product-title">{{ product.title }}</span>
    <div class="section-price-card-product">
      <span class="card-product-price">$ {{ product.price }}</span>
      <span class="card-product-send">Envio gratis</span>
    </div>
  </div>
</div>
