<div class="container-dashboard">

  <div class="content-title"></div>

  <div class="content-dashboard">

    <div class="content-dashboard-left">

      <div class="dashboard-content-first">

        <img src="../../../../../assets/images/dashboard.png">

        <div class="content-dashboard-text">
          <p>Sonia Taylor!</p>
          <p>You have two projects to finish, you had complete 57% from your montly
            keep going to your level</p>
        </div>

      </div>

      <div class="dashboard-content-second">
        <div class="content-card-dashboard">
          <p class="card-dashboard-title">TOTAL REVENUE</p>
          <p class="card-dashboard-text">Previous month vs this months</p>
          <div class="card-dashboard-content">
            <div class="card-dashboard-content-price">
              <p>$5,900.00</p>
              <p>55%<span>Higher</span></p>
            </div>
            <em class="icon-document"></em>
          </div>
        </div>
        <div class="content-card-dashboard">
          <p class="card-dashboard-title">TOTAL REVENUE</p>
          <p class="card-dashboard-text">Previous month vs this months</p>
          <div class="card-dashboard-content">
            <div class="card-dashboard-content-price">
              <p>$5,900.00</p>
              <p>55%<span>Higher</span></p>
            </div>
            <em class="icon-document"></em>
          </div>
        </div>
        <div class="content-card-dashboard">
          <p class="card-dashboard-title">TOTAL REVENUE</p>
          <p class="card-dashboard-text">Previous month vs this months</p>
          <div class="card-dashboard-content">
            <div class="card-dashboard-content-price">
              <p>$5,900.00</p>
              <p>55%<span>Higher</span></p>
            </div>
            <em class="icon-document"></em>
          </div>
        </div>
      </div>

      <div class="dashboard-content-three">
      </div>

    </div>

    <div class="content-dashboard-right"></div>

  </div>

</div>
