<div class="content-footer">

  <div class="first-section-footer">
    <div class="first-block">
      <h3 class="footer-title">Anais Fashion <br> Elegancia y estilo a tu medida </h3>
      <span class="footer-text">
           En Anais Fashion, nos especializamos en la confección de todo tipo de prendas a medida. Ofrecemos uniformes personalizados para colegios, ropa profesional para el sector médico, y vestuario corporativo, asegurándonos de que cada pieza refleje calidad y estilo. Además, creamos prendas a medida para cualquier ocasión, adaptándonos a tus necesidades y preferencias. Tu imagen es nuestra prioridad.
          </span>
    </div>

    <div class="second-block">
      <div class="second-block-about">
        <h3 class="footer-subtitle">Anais Fashion</h3>
        <span class="footer-text">Sobre nosotros</span>
        <span class="footer-text">Contratos de Uniformes</span>
        <span class="footer-text">Ropa a Medida</span>
      </div>
      <div class="second-block-services">
        <h3 class="footer-subtitle">Servicios</h3>
        <span class="footer-text">Uniformes Escolares</span>
        <span class="footer-text">Uniformes Médicos</span>
        <span class="footer-text">Vestuario Corporativo</span>
      </div>
      <div class="footer-contact">
        <div class="contact-info">
          <label><em class="icon-telephone"></em></label>
          <div class="contact-info-detail">
            <span class="contact-info-title">Llamanos:</span>
            <span class="contact-info-text">+57 3152481362</span>
          </div>
        </div>
        <div class="contact-info">
          <label><em class="icon-map-marker"></em></label>
          <div class="contact-info-detail">
            <span class="contact-info-title">Situado en:</span>
            <span class="contact-info-text">Cra 10b 10-108</span>
          </div>
        </div>
        <div class="contact-info">
          <label><em class="icon-envelope"></em></label>
          <div class="contact-info-detail">
            <span class="contact-info-title">Correo electronico:</span>
            <span class="contact-info-text">Edwinbayona87@gmail.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="second-section-footer">
      <span>Politicas de privacidad | Terminos y condiciones</span>
      <span>Copyright-2024 Todos los derechos reservados</span>
  </div>

</div>

