<div class="wrapper-content-main">
  <div class="content-main">


    <div class="content-home-header">
      <div class="section-options">
        <label><em class="icon-ui"></em></label>
        <label class="logo-home"><em class="icon-logo-home"></em></label>
      </div>
      <div class="vertical-line"></div>
      <div class="section-categories">
        <label> <em class="icon-categories"></em></label>
        <span>Categorias</span>
        <label><em class="icon-chevron-down"></em></label>
      </div>
      <div class="vertical-line margin-left-10"></div>
      <div class="section-search">
        <div class="search-input">
          <input autocomplete="off" class="input"
                 placeholder="Búsqueda rápida">
          <label><em class="icon-search"></em></label>
        </div>
        <div class="section-login">
          <label><em class="icon-profile-user"></em></label>
          <span>Ingreso</span>
          <div class="vertical-line"></div>
          <label><em class="icon-shopping-cart"></em></label>
        </div>
      </div>

      <!--      <div class="header-buttons">-->
      <!--        <label><em class="icon-heart"></em></label>-->
      <!--        <label (click)="openCart()"><em class="icon-shopping-cart"></em></label>-->
      <!--        <button class="button-login">Iniciar sesion</button>-->
      <!--      </div>-->

      <!--        <div class="notification-container" *ngIf="categories">-->
      <!--          <span>Tops</span>-->
      <!--          <span>Pantalones</span>-->
      <!--          <span>Vestidos</span>-->
      <!--          <span>Faldas</span>-->
      <!--          <span>Ropa de abrigo</span>-->
      <!--          <span>Ropa de baño</span>-->
      <!--          <span>Ropa interior</span>-->
      <!--          <span>Accesorios</span>-->
      <!--          <span>Zapatos</span>-->
      <!--          <label class="notification" *ngFor="let notification of notificationList; let i = index">-->
      <!--            <img [src]="notification.image ? notification.image : 'assets/images/whatsapp.png'" alt="image-channel">-->
      <!--            <div class="content-data-notification">-->
      <!--              <div class="content-text-notification">-->
      <!--                <span class="first-title">{{ notification.title }}</span>-->
      <!--                <span>{{ notification.description }}</span>-->
      <!--              </div>-->
      <!--              <i class="material-icons dp48 right">clear</i>-->
      <!--            </div>-->
      <!--          </label>-->
      <!--        </div>-->
      <!--        <div class="screen-gray" *ngIf="value"></div>-->


    </div>


    <div class="container-main-content">
      <router-outlet></router-outlet>
    </div>
    <div class="footer-home">
      <div class="footer-home-first-block">
        <div class="footer-home-first-block-1">
          <h3 class="footer-home-title">Demo logo</h3>
          <span class="footer-home-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </span>
        </div>
        <div class="footer-home-first-block-2">
          <div class="footer-home-first-block-2-content">
            <h3 class="footer-home-subtitle">Company</h3>
            <span class="footer-home-text">About us</span>
            <span class="footer-home-text">Investment</span>
            <span class="footer-home-text">Recent News</span>
          </div>
          <div class="footer-home-first-block-2-content">
            <h3 class="footer-home-subtitle">Resources</h3>
            <span class="footer-home-text">Company</span>
            <span class="footer-home-text">Company</span>
            <span class="footer-home-text">Recent News</span>
          </div>
          <div class="footer-home-first-block-2-content">
            <h3 class="footer-home-subtitle">Investments</h3>
            <span class="footer-home-text">incubation of small bussiness</span>
            <span class="footer-home-text">investment on real estate</span>
            <span class="footer-home-text">Fundion projects /Staryups</span>
          </div>
        </div>
      </div>
      <div class="footer-home-second-block">
        <div class="footer-home-second-block-policies">
          <span>Politicas de privacidad | Terminos y condiciones</span>
          <span>Copyright2024 Todos los derechos reservados</span>
        </div>
        <div class="footer-home-second-block-contact">
          <div class="contact-info">
            <label><em class="icon-telephone"></em></label>
            <div class="contact-info-detail">
              <span class="contact-info-title">Llamanos:</span>
              <span class="contact-info-text">+57 3152481362</span>
            </div>
          </div>
          <div class="contact-info">
            <label><em class="icon-map-marker"></em></label>
            <div class="contact-info-detail">
              <span class="contact-info-title">Situado en:</span>
              <span class="contact-info-text">Cra 10b 10-108</span>
            </div>
          </div>
          <div class="contact-info">
            <label><em class="icon-envelope"></em></label>
            <div class="contact-info-detail">
              <span class="contact-info-title">Correo electronico:</span>
              <span class="contact-info-text">Edwinbayona87@gmail.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

