.wrapper-content-main {
  width: 100vw;
  height: 100vh;
  background-color: theme-palette-color('grays', 50);

  .content-main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .content-main-header {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff29;
      border-bottom: 1px solid theme-palette-color('grays', 100);
      backdrop-filter: blur(10px);
      z-index: 2;
    }

    .content-main-content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: -60px;
    }

    .content-main-footer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
}

