.wrapper-content-main {
  width: 100vw;
  height: 100vh;
  background-color: theme-palette-color('grays', 50);

  .content-main {
    width: 100%;
    height: 100%;

    .section-cart {
      width: 380px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      background-color: white;
      z-index: 3;
      position: fixed;
      right: 0;
      overflow: auto;

      .section-cart-header {
        height: 60px;
        min-height: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid theme-palette-color('grays', 50);
        padding: 10px 20px;

        .cart-title {
          font-size: 16px;
          font-weight: 500;
          color: theme-palette-color('color', 'gray');
        }

        em {
          font-size: 20px;
          color: theme-palette-color('color', 'gray');

          &:hover {
            color: theme-palette-color('color', 'hover');
          }

        }

      }

      .section-cart-body {
        width: 100%;
        height: calc(100% - 220px);
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        padding: 10px 20px;
        gap: 10px;

        .section-cart-product {
          width: 100%;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;

          .cart-product-image {
            width: 30%;
            height: 100%;

            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
          }

          .cart-product-content {
            width: 70%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            .cart-product-title {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 10px 0;

              span {
                font-size: 14px;
                font-weight: 500;
                color: theme-palette-color('color', 'gray');
              }

            }

            .cart-product-variants {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .section-variants-cart {
                width: 60%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;

                span {
                  font-size: 14px;
                  font-weight: 500;
                  color: theme-palette-color('color', 'gray');
                }

              }

              .section-offer-cart {
                width: 40%;

              }


            }


          }

        }

      }


      .section-cart-footer {
        width: 100%;
        height: 160px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        border-top: 2px solid theme-palette-color('grays', 50);
        padding: 20px;

        .section-cart-footer-price {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 4px;


          .footer-block-price {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .footer-text {
              font-size: 14px;
              font-weight: 500;
              color: theme-palette-color('color', 'gray');
            }

            .footer-text-price {
              font-size: 14px;
              font-weight: 500;
              color: theme-palette-color('color', 'gray');
            }
          }
        }

        .footer-button {
          width: 100%;
          height: 40px;
          max-height: 40px;
          background-color: theme-palette-color('color', 'gray');
          border: none;
          outline: none;
          border-radius: 4px;
          color: white;
          cursor: pointer;

          &:hover {
            background-color: theme-palette-color('color', 'hover');
          }

        }

      }

    }

    .content-home-header {
      width: 100%;
      height: 60px;
      border-bottom: 1px solid theme-palette-color('grays', 100);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }

    .notification-container {
      cursor: default;
      position: absolute;
      z-index: 2;
      top: 58px;
      left: 330px;
      width: 260px;
      font-weight: 300;
      background: #313131;
      padding: 20px;
      border-radius: 0.5rem;
      box-sizing: border-box;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);


      &:before {
        content: "";
        position: absolute;
        top: 1px;
        right: 0;
        width: 0;
        height: 0;
        transform: translate(-13rem, -100%);
        border-left: .75rem solid transparent;
        border-right: .75rem solid transparent;
        border-bottom: .75rem solid #313131;
      }


      span {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 75%;
        font-weight: 700;
        color: white;
        height: 32px;
        max-height: 32px;
        padding: 0 4px;

        &:hover {
          background-color: white;
          color: theme-palette-color('color', 'gray');
          border-radius: 4px;
        }
      }
    }

    .notification {
      box-sizing: border-box;
      background: white;
      display: flex;
      height: 96px;
      justify-content: flex-start;
      align-items: center;
      border-top: 1px solid rgba(0, 0, 0, .1);
      padding: 20px;

      img {
        margin-right: 10px;
        width: 40px;
        height: 40px;
      }

      .content-data-notification {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .content-text-notification {
          position: relative;
          width: 280px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;

          span {
            font-size: 12px;
            padding-right: 10px;
          }

          .first-title {
            font-size: 12px;
            padding-right: 10px;
            color: #84929f;
            font-weight: 700;
          }
        }

        i {
          &:hover {
            color: theme-palette-color('color', 'hover');
          }
        }
      }
    }

    .button-notification {
      position: absolute;
      top: 26px;
      right: 42px;
      background-color: #25D366;
      font-size: 12px;
      border: none;
      color: white;
      border-radius: 4px;
      padding: 4px;
      cursor: pointer;
    }

    .container-main-content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: auto;
    }

    .footer-home {
      width: 100%;
      height: 392px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .footer-home-first-block {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 80px;
        background-color: #313131;

        .footer-home-subtitle {
          font-size: 20px;
          color: white;
          padding-bottom: 10px;
        }

        .footer-home-title {
          font-size: 32px;
          color: white;
          padding-bottom: 20px;
        }

        .footer-home-text {
          color: theme-palette-color('color', 'gray');
        }

        .footer-home-first-block-1 {
          width: 40%;
          height: auto;
          padding: 20px;
        }

        .footer-home-first-block-2 {
          width: 60%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 40px;
          padding: 20px;

          .footer-home-first-block-2-content {
            width: 33.3%;
            height: 208px;
            display: flex;
            flex: 1;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            padding: 10px;
            gap: 20px;
          }

        }

      }

      .footer-home-second-block {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3c3c3c;
        padding: 0 80px;

        .footer-home-second-block-policies {
          width: 40%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          padding: 30px;

          span {
            color: white;
            font-size: 16px;

            &:last-child {
              color: theme-palette-color('color', 'gray');
              font-size: 14px;
              padding-top: 10px;
            }
          }
        }

        .footer-home-second-block-contact {
          width: 60%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          gap: 10px;

          .contact-info {
            display: flex;
            justify-content: center;
            align-items: center;


            label {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
              max-width: 40px;
              max-height: 40px;
              background-color: theme-palette-color('color', 'gray');
              border-radius: 4px;
            }

            em {
              color: white;
              font-size: 18px;
            }

            .contact-info-detail {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-direction: column;
              padding-left: 10px;

              .contact-info-title {
                color: theme-palette-color('color', 'gray');
                padding-bottom: 4px;
              }

              .contact-info-text {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

