<div class="wrapper-content-login">

  <div class="content-login">
    <div class="container-login">
      <div class="content-login-left"></div>
      <div class="content-login-right"></div>
    </div>

    <div class="content-card">

      <div class="content-card-login-left">

        <div class="div-rotate">

        </div>

      </div>

      <div class="content-card-login-right">

        <div class="content-form-login">
          <img src="assets/images/logo.png" alt="logo">
          <h1>Proyecto Personal</h1>

        </div>


      </div>

    </div>
  </div>


</div>
