<div class="wrapper-content-login">
  <div class="content-login">
    <div class="container-login">
      <div class="content-login-left"></div>
      <div class="content-login-right"></div>
    </div>
    <div class="content-card">
      <div class="content-card-login-left">
        <div class="div-rotate"></div>
        <div class="div-rotate-2">
          <img src="assets/images/login.png" alt="img">
        </div>
      </div>
      <div class="content-card-login-right">
        <div class="content-form-login">
          <div class="content-form-login-head">
            <img src="assets/images/logo.png" alt="logo">
            <h1>Proyecto Personal</h1>
          </div>
          <p class="content-title">Hola, Bienvenido de nuevo</p>
          <div class="content-form-login-body">
            <form [formGroup]="formLogin" autocomplete="off">
              <div class="grid">
                <div class="col-12">
                  <div class="form-container">
                    <div class="form-group">
                      <label class="form-label">Usuario</label>
                      <input type="text" class="form-input"
                             formControlName="user_name"
                             placeholder="Ingresa tu nombre de usuario">
                      <span class="form-line"></span>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-container">
                    <div class="form-group">
                      <label class="form-label">Contraseña</label>
                      <input type="password" class="form-input"
                             formControlName="user_password"
                             placeholder="Ingresa tu contraseña">
                      <span class="form-line"></span>
                      <span appShowPassword class="input-icon">
                        <em class="icon-eye-close"></em>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="content-form-social-networks">
            <em class="icon-facebook"></em>
            <em class="icon-twitter"></em>
            <a href="{{variable}}" style="color: black ; text-decoration: none">
              <em class="icon-google"></em>
            </a>
          </div>
          <div class="content-login-button">
            <p>¿Olvidaste tu contraseña? <span>Recuperala aquí</span></p>
            <button class="btn-generic" (click)="sendLogin()">Iniciar sesion</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
