.container-dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  flex-direction: column;
  background-color: #eaedf7;

  .content-title {
    width: 100%;
    height: 20%;
    border: 1px solid black;
  }

  .content-dashboard {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content-dashboard-left {
      width: 66.66%;
      height: 100%;
      border: 1px solid black;
      padding: 24px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      flex-direction: column;

      .dashboard-content-first {
        width: 100%;
        height: 136px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6259ca;
        border-radius: 8px;

        img {
          width: 35%;
          height: 100%;
          object-fit: contain;
        }

        .content-dashboard-text {
          width: 65%;
          height: 120px;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;


          p {
            color: white;
          }

        }

      }

      .dashboard-content-second {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
      }

      .content-card-dashboard {
        width: 33%;
        height: 130px;
        background-color: white;
        border-radius: 8px;
        padding: 16px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        .card-dashboard-title {
          width: 100%;
          font-size: 13px;
          text-align: start;
          font-weight: 500;
          line-height: 14px;
          color: #1D212F;
          margin-bottom: 4px;
        }

        .card-dashboard-text {
          width: 100%;
          font-size: 13px;
          text-align: start;
          color: #8f8fb1;
        }

        .card-dashboard-content {
          width: 100%;
          height: 54px;
          display: flex;
          position: relative;

          .card-dashboard-content-price {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding: 0 3px;
            flex-direction: column;
          }

          p {

            &:first-child {
              margin-bottom: 6px;
              font-size: 18px;
            }

            &:last-child {
              font-size: 12px;
              color: #19B159;
            }
          }

          span {
            color: #8f8fb1;
            padding-left: 6px;
          }

          em {
            position: absolute;
            right: 4px;
            top: 6px;
            background-color: #6259ca1A;
            border-radius: 50%;
            padding: 12px;
            color: #6259ca;
            font-size: 18px;
          }


        }

      }

      .dashboard-content-three {

      }

    }

    .content-dashboard-right {
      width: 33.33%;
      height: 100%;
      border: 1px solid blue;
    }

  }


}


