

  .container-dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    flex-direction: column;
    background-color: #eaedf7;

    .content-title {
      width: 100%;
      height: 20%;
      border: 1px solid black;
    }

    .content-dashboard {
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;

      .content-dashboard-left {
        width: 66%;
        height: 100%;
        border: 1px solid black;
        padding: 24px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        flex-direction: column;

        .dashboard-content-first {
          width: 100%;
          height: 136px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #6259ca;
          border-radius: 8px;

          img {
            width: 35%;
            height: 100%;
            object-fit: contain;
          }

          .content-dashboard-text {
            width: 65%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;


            p {
              color: white;
            }

          }

        }

        .dashboard-content-second {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
        }

        .content-card {
          width: calc((100% - 80px) / 3);
          height: 148px;
          background-color: white;
          border-radius: 8px;
          padding: 10px;
        }

        .dashboard-content-three {

        }

      }

      .content-dashboard-right {
        width: 34%;
        height: 100%;
        border: 1px solid blue;
      }

    }


  }


