.wrapper-content-login {
  width: 100vw;
  height: 100vh;
  position: relative;

  .content-login {
    width: 100%;
    height: 100%;

    .container-login {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .content-login-left {
        width: 50%;
        height: 100%;
        background: white;
      }

      .content-login-right {
        width: 50%;
        height: 100%;
        background-color: #24a7ad;
      }
    }

    .content-card {
      width: 1200px;
      height: 620px;
      background-color: white;
      border-radius: 6px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);

      .content-card-login-left {
        width: 55%;
        height: 100%;
        position: relative;
        border-radius: 6px;
        overflow: hidden;

        .div-rotate {
          width: 620px;
          height: 620px;
          position: absolute;
          border-radius: 12px;
          z-index: 1;
          top: -123px;
          right: 124px;
          transform: rotate(45deg);
          background-color: theme-palette-color('color', 'primary');
        }

      }

      .content-card-login-right {
        width: 45%;
        height: 100%;
        padding: 40px;

        .content-form-login {
          width: 100%;


          .content-form-login-head {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            img {
              width: 200px;
              height: 100px;
              object-fit: contain;
            }

            h1 {
              font-size: 24px;
              font-weight: 600;
              color: theme-palette-color('color', 'primary');
            }
          }


          .content-form-login-body {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 40px 40px 20px 40px;
          }

          .content-form-social-networks {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            em {
              font-size: 32px;
              padding: 12px;
              border: 1px solid theme-palette-color('grays', 300);
              border-radius: 6px;
            }

          }

          .content-login-button {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 32px;
            padding: 0 40px;

            span {
              color: theme-palette-color('color', 'primary');
            }

            button {
              width: 100%;
              padding: 12px 24px;
              background-color: theme-palette-color('color', 'primary');
              cursor: pointer;
              outline: none;
              border: none;
              font-family: $font-family;
              color: white;
              border-radius: 6px;
              margin-top: 12px;
            }

          }

        }
      }
    }
  }


}
