.wrapper-content-login {
  width: 100vw;
  height: 100vh;
  position: relative;

  .content-login {
    width: 100%;
    height: 100%;

    .container-login {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: theme-palette-color('pinks', 1);

    }

    .content-card {
      width: 1200px;
      height: 620px;
      background-color: white;
      border-radius: 6px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);

      .content-card-login-left {
        width: 50%;
        height: 100%;
        position: relative;
        border-radius: 6px;
        overflow: hidden;

        .div-rotate {
          width: 100%;
          height: 100%;
          background-color: theme-palette-color('grays', 300);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

        }

      }

      .content-card-login-right {
        width: 50%;
        height: 100%;
        padding: 40px;

        .content-form-login {
          width: 100%;


          .content-form-login-head {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 200px;
              height: 100px;
              object-fit: contain;
            }

            em {
              font-size: 100px;
            }


          }

          .content-title {
            width: 100%;
            padding: 0 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 14px;
            font-size: 22px;
            font-weight: 500;
            color: theme-palette-color('color', 'gray');
          }


          .content-form-login-body {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px 40px;
          }

          .content-form-social-networks {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin: 20px 0;

            em {
              font-size: 32px;
              padding: 12px;
              border: 1px solid theme-palette-color('grays', 300);
              border-radius: 6px;
            }

          }

          .content-login-button {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 32px;
            padding: 0 40px;

            p {
              font-size: 14px;
            }

            span {
              font-size: 14px;
              color: theme-palette-color('grays', 300);

              &:hover {
                color: theme-palette-color('color', 'hover');
              }
            }
          }
        }
      }
    }
  }


}
