<div class="wrapper-content-filters">

  <div class="content-filters">

    <div class="section-filters-blocks">
      <div class="section-filters-blocks-marks">
        <span class="filters-blocks-marks-title">Marcas populares</span>
        <mat-checkbox
          [color]="'primary'">
          <span>Nike</span>
        </mat-checkbox>
        <mat-checkbox
          [color]="'primary'">
          <span>Adidas</span>
        </mat-checkbox>
        <mat-checkbox
          [color]="'primary'">
          <span>H&M (Hennes & Mauritz)</span>
        </mat-checkbox>
        <mat-checkbox
          [color]="'primary'">
          <span>Zara</span>
        </mat-checkbox>
        <mat-checkbox
          [color]="'primary'">
          <span>Gucci</span>
        </mat-checkbox>
      </div>
      <div class="section-filters-blocks-category">
        <span class="filters-blocks-category-title">Categorias</span>
        <mat-checkbox
          [color]="'primary'">
          <span>Ropa casual</span>
        </mat-checkbox>
        <mat-checkbox
          [color]="'primary'">
          <span>Ropa formal</span>
        </mat-checkbox>
        <mat-checkbox
          [color]="'primary'">
          <span>Ropa deportiva</span>
        </mat-checkbox>
        <mat-checkbox
          [color]="'primary'">
          <span>Ropa íntima</span>
        </mat-checkbox>
        <mat-checkbox
          [color]="'primary'">
          <span>Ropa de temporada</span>
        </mat-checkbox>
      </div>
      <div class="section-filters-blocks-colors">
        <span class="filters-blocks-colors-title">Colores</span>
        <mat-checkbox
          [color]="'primary'">
          <span>Rojo</span>
        </mat-checkbox>
        <mat-checkbox
          [color]="'primary'">
          <span>Azur</span>
        </mat-checkbox>
        <mat-checkbox
          [color]="'primary'">
          <span>Naranja</span>
        </mat-checkbox>
        <mat-checkbox
          [color]="'primary'">
          <span>Verde</span>
        </mat-checkbox>
        <mat-checkbox
          [color]="'primary'">
          <span>Morado</span>
        </mat-checkbox>
      </div>
    </div>

    <div class="section-filters-products">

      <div class="section-filters-products-organization">
      </div>
      <div class="filters-products">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>

    </div>

  </div>

</div>
